{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
  IoT - Modulos
{% endblock %}

{% block styles %}
<style>
    .card {
        transition: transform 0.3s; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        cursor: pointer; 
    }

    .card:hover {
        transform: scale(1.1);
        color: #333;

    }

    .card:hover .card-body {
        background-color: #f5f5f5;
    }

    .card-body {
        padding: 20px;
        text-align: center;
    }

    h5 {
        margin-bottom: 0;
        color: #333;
    }
    .card:hover h5 {
      text-decoration: none;
  }
</style>
{% endblock %}

{% block heading %}
  {% comment %} {% if turma %} {% endcomment %}
    {{ "Nome da Trilha" }}
  {% comment %} {% endif %} {% endcomment %}
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card mb-5">
        <a href="">
          <img src="{% static 'img/provisorio.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Introdução a IoT</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card mb-5">
        <a href="">
          <img src="{% static 'img/provisorio.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aplicações IoT</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card mb-5">
        <a href="">
          <img src="{% static 'img/provisorio.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Internet das Coisas para Automação</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <a href="">
          <img src="{% static 'img/provisorio.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Computação em nuvem: Arquitetura e Aplicações</h5>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
