{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
  IoT - Atividade
{% endblock %}

{% block styles %}

{% endblock %}

{% block heading %}
  {% comment %} {% if turma %} {% endcomment %}
    {{ "Nome do Modulo" }}
  {% comment %} {% endif %} {% endcomment %}
{% endblock %}

{% block body %}

  <!-- Pending Requests Card Example -->
  <div class=" col-md-12 col-xl-4 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Alunos Matriculados</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ '5' }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tasks Card Example -->
  <div class="col-md-12 col-xl-4 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Grau de Conclusão Do Modulo</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ turma.percentual_decorrido }}%</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: {{ turma.percentual_decorrido }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12 col-xl-4  mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Percentual de Atividades concluídas</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ turma.percentual_decorrido }}%</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: {{ turma.percentual_decorrido }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row col-lg-12">
    <!-- Default Card Example -->
    <div class="card mb-4 col-md-12 col-xl-6">
      <div class="card-header">Atividades</div>
      <div class="card-body">
        Selecione o dia do inicio da ativide abaixo para editar se as atividades dos alunos foi entregue.
        <ul class="list-group list-group-horizontal-lg flex-wrap">
            <li class="list-group-item col-lg-4 col-md-6">
                <a href="aula/{{ aula.id }}">Aula em {{ '03/01/2024' }}</a>
            </li>

            <li class="list-group-item col-lg-4 col-md-6">
                <a href="aula/{{ aula.id }}">Aula em {{ '04/01/2024' }}</a>
            </li>

            <li class="list-group-item col-lg-4 col-md-6">
                <a href="aula/{{ aula.id }}">Aula em {{ '05/01/2024' }}</a>
            </li>

            <li class="list-group-item col-lg-4 col-md-6">
                <a href="aula/{{ aula.id }}">Aula em {{ '07/01/2024' }}</a>
            </li>

            <li class="list-group-item col-lg-4 col-md-6">
                <a href="aula/{{ aula.id }}">Aula em {{ '08/01/2024' }}</a>
            </li>

        </ul>
      </div>
    </div>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4 col-md-12 col-xl-6">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ '03 de Janeiro de 2024 ate 05 de Janeiro de 2024' }}</h6>
      </div>
      <div class="card-body">
        <form action="#" method="post">
          {% csrf_token %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Atividade</th>
              </tr>
            </thead>
            <tbody>
              
                <tr>
                  <th scope="row">1</th>
                  <td>Aluno1</td>
                  <td><input type="checkbox" value="presente"></td>
                </tr>
              
                <tr>
                  <th scope="row">2</th>
                  <td>Aluno2</td>
                  <td><input type="checkbox" value="presente"></td>
                </tr>
              
                <tr>
                  <th scope="row">3</th>
                  <td>Aluno3</td>
                  <td><input type="checkbox" value="presente"></td>
                </tr>
              
                <tr>
                  <th scope="row">4</th>
                  <td>Aluno4</td>
                  <td><input type="checkbox" value="presente"></td>
                </tr>
              
                <tr>
                  <th scope="row">5</th>
                  <td>Aluno5</td>
                  <td><input type="checkbox" value="presente"></td>
                </tr>
              
            </tbody>
          </table>
          <button type="submit" class="btn btn-success">Salvar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
