{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    IoT - Diário
{% endblock %}

{% block styles %}

<style>
    .custom-checkbox {
        transform: scale(2);
    }
</style>

{% endblock %}

{% block heading %}
    {% if turma %}
        {{ turma.modulo.nome }}
    {% endif %}
{% endblock %}

{% block body %}

    <!-- Basic Card Example -->
    <div class="card shadow mb-4 col-md-12 col-xl-6">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ aula.data }}</h6>
        </div>
        <div class="card-body">
            <h2>Lançar Presenças para {{ aula.turma.nome_turma }}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Aluno</th>
                        <th>Presença</th>
                        <th>Justificativa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for form in formset %}
                        <tr>{{ form.id }}
                            <td>
                                <fieldset disabled>
                                    <div class="form-group">
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="aluno" value="">
                                    </div>
                                </fieldset>
                            </td>

                            <td>
                                <div class="form-check text-center align-middle">
                                    <input class="form-check-input custom-checkbox" type="checkbox" id="largeCheckbox" value="">
                                </div>
                            </td>

                            <td>
                                <input class="form-control" type="text" placeholder="Justificativa" value="">
                            </td>
                            
                            {% comment %} <td>{{ form.aluno }}</td>
                            <td>{{ form.presente }}</td>
                            <td>{{ form.justificativa }}</td> {% endcomment %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary" value="Salvar Presenças">
            </form>
        </div>
    </div>

{% endblock %}

